@import "tailwindcss";

@keyframes slideLeftToRight {
  from {
    opacity: 0;
    right: 150px;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spinIcon {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.slide-left-to-right {
  position: relative;
  animation-name: slideLeftToRight;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}

.spin-icon {
  animation-name: spinIcon;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}
