@import "tailwindcss";

@keyframes slideLeftToRight {
  from {
    opacity: 0;
    right: 150px;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

.slide-left-to-right {
  position: relative;
  animation-name: slideLeftToRight;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
}
